<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Copyright &copy; 2021</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/carlos_flores_arellano">our page</a></p>
  </div>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
